/* most of this file comes from this tutorial::after
  https://blog.logrocket.com/responsive-image-gallery-css-flexbox/
*/

:root {
  --line-height: 1.25rem;
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  --main-color: wheat;
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 3%;
  font-size: 1rem;
  line-height: var(--line-height);
  background-color: #303030;
}

.content {
  padding: 2% 5%;
}

h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  color:var(--main-color)
}

.fonts {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.fonts > .font {
  flex: 1 1 auto;
  height: 20rem;
  position: relative;
  cursor: pointer;
}

.fonts .font .thumb img {
  object-fit: cover;
  width: 100%;
  height: calc(100% - 3*var(--line-height));
  vertical-align: middle;
  border-radius: 5px;
}

/* Ensure the last line is correctly  aligned
  by adding an empty element with the same width as other images.
*/
.fonts::after {
  content: "";
  flex-grow: 999;
}

.thumb {
  height:100%
}

/* Style for the overlay */
.overlay {
  border-radius: 0.5rem;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 75%;
  max-height: 75%;
  background: #5B5B5B;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding: 2rem;
  box-shadow: rgba(255, 255, 255, 0.16) 0px 10px 36px 0px, rgba(255, 255, 255, 0.06) 0px 0px 0px 1px;}

/* Style for the enlarged image inside the overlay */
.overlay img {
  flex: 1 1 auto;
  /* height:90%;
  max-width: 90%;
  max-height: 90%; */
}

/* Additional style for close button */
.overlay .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: var(--main-color);
  font-size: 20px;
}
