/* most of this file comes from this tutorial::after
  https://blog.logrocket.com/responsive-image-gallery-css-flexbox/
*/

:root {
  --line-height: 1.25rem;
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  --main-color: wheat;
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 3%;
  font-size: 1rem;
  line-height: var(--line-height);
  background-color: #303030;
}

h1 {
  margin-bottom: 2rem;
  font-size: 4rem;
  line-height: normal;
  text-align: center;
  color:var(--main-color)
}

