---
import Page from '../layouts/Page.astro';
const title = "About me and this project";

---


<Page title={title}>
  <div id="about">
    <p>bla bla bla</p>
  </div>
</Page>

<style>
  #about {
    margin: auto;
    display: flex;
    align-content: center;
    width: 90%;
    background-color: greenyellow;
  }

  @media (min-width: 360px) {
	#about {
	}

  @media (min-width: 440px) {
	#about {
    width: 85%;
	}

  @media (min-width: 768px) {
    #about {
      width: 80%;
    }
  }

  @media (min-width: 1024px) {
    #about {
      width: 70%;
    }
  }

  @media (min-width: 1280px) {
    #about {
      width: 60%;
    }
  }
</style>
