---
import type { manifest } from 'astro:ssr-manifest';
import Page from '../layouts/Page.astro';
const title = "About";

---


<Page title={title}>
  <div id="about">
    <p>Hi,</p>
    <p>Welcome to my galleries web site.</p>
    <p>I'm Romuald, I'm French, and for a living I work as a product manager and designer. I can't pretend being a web developper. But here is a small attempt to learn with subjects I like.</p>
    <br>
    <p>This web site is a hobby project. It's made with the <a href="https://astro.build" target="blank">Astro</a> framework, some lines of CSS, HTML and vanilla Javascript. I want to thank my ex-colleague <a href="https://www.linkedin.com/in/guillaume-denier/" target="blank">Guillaume</a> who was kind enough to help me.</p>
    <br>
    <p>This work is NOT a professional project nor my portfolio. While I try to respect the best practises as much as possible, I can't say it's perfect. So if you think some things can be made better, please feel free to contact me on GitHub (link here above).</p>
    <br>
    <p>Thanks for reading, happy browsing.</p>
    <div id="changelog">
      <h2>Changelog</h2>
      <div class="update">
        <h3>2025-06</h3>
        <ul>
          <li>Added new street arts</li>
        </ul>
      </div>
      <div class="update">
        <h3>2024-08</h3>
        <ul>
          <li>New theme with new font</li>
          <li>New design for detail view</li>
          <li>It's now possible to click/tap to open an image in plain view</li>
          <li>Double click/tap auto-zoom is now disabled on mobile</li>
        </ul>
      </div>
    </div>
    </div>
</Page>

<style>
  #changelog {
    margin-top: 2rem;
  }

  #changelog ul {
    margin-left: 1rem;
  }

  .update {
    margin-bottom: 1rem;
  }
</style>
