---
import Page from '../layouts/Page.astro';
import Gallery from '../components/Gallery.astro'
import { getCollection } from "astro:content";
import { Debug } from 'astro:components';
import { AstroErrorData } from 'node_modules/astro/dist/core/errors';

const allFonts = await getCollection('fonts');

// Get type
type Font = typeof allFonts[0];
// Most recent item first
function compare(a: Font, b: Font) {
  if(a.data.pubDate > b.data.pubDate) {
    return -1;
  }
  if(a.data.pubDate < b.data.pubDate) {
    return 1;
  }

  return 0;
}

---

<Page title="Fonts Gallery">
  <div id="about">
    <p>I like fonts. As soon as I see one I like in the real life, I take it in picture. This gallery presents all the fonts I've shot and the ones who people sent me. I hope you like it, and if you want to see your fonts here, feel free to contact me on GitHub (a link is provided in the menu here above). Thanks.</p>
  </div>
  
  <Gallery collection={allFonts} compare={compare} />
</Page>

<style>

</style>