---
import Page from '../layouts/Page.astro';
import HomeButton from '../components/HomeButton.astro';

import fontImg from "../images/font.jpg";
import saImg from "../images/streetart.jpg";
const base = import.meta.env.BASE_URL;
---

<Page title="Galleries">
  <div id="about">
    <p>I'm passionate about fonts and street art, capturing both in photos whenever I discover them. This gallery showcases my collection along with contributions from others. Enjoy browsing! To share your own font or street art photos here, contact me on GitHub (link in menu above). Thanks for visiting!</p>
  </div>
  <div id="galleries">
    <HomeButton route={base + "/fonts"} label="Fonts Gallery" img={fontImg}/>
    <HomeButton route={base + "/streetart"} label="Street Art Gallery" img={saImg} />
  </div>
</Page>

<style>

#about {
  margin: auto;
  width: 90%;
  line-height: 160%;
}

#galleries {
    display: flex;
    color: var(--main-color);
    margin: auto;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 90%;
    line-height: 160%;
  }

  @media (min-width: 360px) {
    #galleries {
      margin-top: 1rem;
    }

    #about {
      width: 90%;
    }
}

  @media (max-width: 720px) {
    #galleries {
      flex-direction: column;
    }
  }
  @media (min-width: 440px) {
    #galleries {
      width: 85%;
      margin-top: 2rem;
    }
    #about {
      width: 80%;
    }
  }

  @media (min-width: 768px) {
    #galleries {
      margin-top: 2rem;
      width: 80%;
    }
    #about {
      width: 70%;
    }
  }

  @media (min-width: 1024px) {
    #galleries {
      margin-top: 2rem;
      width: 70%;
    }
    #about {
      width: 60%;
    }
  }

  @media (min-width: 1280px) {
    #galleries {
      margin-top: 2rem;
      width: 60%;
    }
    #about {
      width: 50%;
    }
  }

  @media (min-width: 1440px) {
    #galleries {
      margin-top: 2rem;
      width: 50%;
    }
  }
</style>
