---
const { date } = Astro.props;

let outputDate = date.getFullYear() + 
                  "-" +
                  (date.getMonth()+1).toString().padStart(2, '0') +
                  "-" +
                  date.getDate().toString().padStart(2, '0');

// voir la lib date-fns
---

<div class="pub-date">
  <span class="label">Ajoutée le : </span><span class="value">{outputDate}</span>
</div>

<style>
  .pub-date {
    font-size: 0.8rem;
    color: #EBEBEB;
  }

  .pub-date .label {
    font-style: italic;
  }
   .pub-date .value {
  }
</style>