---
import { getCollection } from "astro:content";
import Thumbnail from '../components/Thumbnail.astro';
import { Debug } from 'astro:components';

const allFonts = await getCollection("fonts");
---

<div class="thumbnails-grid">
  {
    allFonts.map((font) => (
      // <Debug {font} />
      <Thumbnail font={font}/>
    ))
  }
</div>

<script>
  window.addEventListener("DOMContentLoaded",() => {
    // const ig = new ImageGrid("#img_grid");
  });
</script>

<style>

  .thumbnails-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 1em;
    width: 100vw;
  }

  @media (min-width: 768px) {
	.thumbnails-grid {
		grid-template-columns: repeat(3,1fr);
	}

  @media (min-width: 1024px) {
    .thumbnails-grid {
      grid-template-columns: repeat(4,1fr);
    }
  }

  @media (min-width: 1280px) {
    .thumbnails-grid {
      grid-template-columns: repeat(5,1fr);
    }
  }

  /* Ensure the last line is correctly  aligned
    by adding an empty element with the same width as other images.
  */
  /* .thumbnails-grid::after {
    content: "";
    flex-grow: 999;
  } */
</style>
  