---
import Rss from "../assets/Rss.svg";
const { title, rss } = Astro.props;
const base = import.meta.env.BASE_URL;
---

<div class="heading">
  <h1>{title}</h1>
  {
    rss !== undefined && (
      <a class="rss-button" href="#" data-url={`${base}/${rss}`}>
        <Rss />
      </a>
    )
  }
</div>

<style>
  .heading {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
  }

  svg {
    width: 2rem;
    height: 2rem;
  }

  a {
    color:var(--main-color);
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem;
  }

  a:hover,
  a:focus {
    background-color: var(--main-color);
    color: var(--active-background-color);
  }

</style>

<script>
  let rssButton = document.querySelectorAll(".rss-button");
  rssButton[0]?.addEventListener('click', onRssClick);

  function onRssClick(this: HTMLElement, e: Event) {
    let url: string | undefined = "https://" + document.location.host + this.dataset.url;
    if(url) {
      navigator.clipboard.writeText(url);
      alert(`RSS link copied!\n\n${url}`);
      let element: HTMLElement | null = document?.activeElement as HTMLElement;
      element?.blur();
    }
  }
</script>
