---
const { geo, place } = Astro.props;
const locationRoot = "https://www.openstreetmap.org/?";

let url = locationRoot + geo;
---

<div class="location">
  <a href={url} target="_blank">{place}</a>
</div>

<style>
  .location a {
    color: var(--main-color);
    font-weight:500;
  }
</style>