---
const { node, place } = Astro.props;
const locationRoot = "https://www.openstreetmap.org/node/";

let url = locationRoot + node;
---

<div class="location">
  <a href={url} target="_blank">{place}</a>
</div>

<style>
  .location a {
    color: var(--main-color);
    font-weight: 600;
  }
</style>