---
const { geo, place } = Astro.props;
const locationRoot = "https://www.openstreetmap.org/?";

let url = locationRoot + geo;
---

<div class="location">
  <a href={url} target="_blank">{place}</a>
</div>

<style>
  .location {
    font-size: 0.8rem;
    font-weight: 200;
    color: var(--main-color);
  }

  .location a {
    color: var(--main-color);
    text-decoration: none;
  }
</style>